<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">

        <div class="flex flex-wrap gap-4 justify-around  min-h-screen p-4 bg-gray-100">

            <div *ngFor="let task of NoteBookService.AllTask | filter:'completed' " (click)="showTask(task)"
                class="w-72 h-64 bg-white shadow-lg rounded-lg p-4 flex flex-col justify-between hover:cursor-pointer">
               
                <!-- Task Info -->
                <div>
                    <h3 class="text-lg text-gray-500"><span class="mr-4 text-gray-600 font-bold">Title:</span>{{
                        task.title }}</h3>
                </div>

                <div>
                    <p class="text-lg text-gray-500 mt-1"><span
                            class="mr-4 text-gray-600 font-bold">Description</span>{{ task.description }}</p>
                </div>
                <div>
                    <p class="text-lg text-gray-500 mt-2"><span class="mr-4 text-gray-600 font-bold">Date:</span>{{
                        task.date | date: 'mediumDate' }}</p>
                </div>

                <!-- Action Buttons -->
                <div class="grid grid-cols-4  mt-4" (click)="$event.stopPropagation()">

                    <!-- Important Task (Heart Icon) -->
                    <div class="group flex flex-col ">
                        <span
                            class="w-22 opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-amber-100 text-black border-2 border-amber-300 font-light px-3 py-1 rounded-md mb-2 shadow-md">
                            important
                        </span>
                        <button (click)="toggleImportant(task)" class="text-gray-400  transition hover:cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                                class="w-6 h-6" [ngClass]="{'text-pink-500': task.important}">
                                <path
                                    d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                            </svg>
                        </button>
                    </div>

                    <!-- Update (Edit Icon) -->
                    <div class="group flex flex-col">
                        <span
                            class="w-22 opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-amber-100 text-black border-2 border-amber-300 font-light px-3 py-1 rounded-md mb-2 shadow-md">
                            Update
                        </span>
                        <button (click)="updateTask(task)"
                            class="text-blue-500 hover:text-blue-600 transition hover:cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                                class="w-6 h-6">
                                <path
                                    d="M14.06 9l-9 9H2v-3l9-9m3-3c.3 0 .6.1.8.3l2.9 2.9c.4.4.4 1 0 1.4l-10 10c-.2.2-.5.3-.8.3H3c-.6 0-1-.4-1-1v-3c0-.3.1-.6.3-.8l10-10c.2-.2.5-.3.8-.3m7 4v12c0 1.1-.9 2-2 2h-8v-2h8V7h2z" />
                            </svg>
                        </button>
                    </div>

                    <!-- Delete (Trash Icon) -->
                    <div class="group flex flex-col">
                        <span
                            class="w-22 opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-amber-100 text-black border-2 border-amber-300 font-light px-3 py-1 rounded-md mb-2 shadow-md">
                            Delete
                        </span>
                        <button (click)="deleteTask(task)"
                            class="text-pink-500 hover:text-pink-600 transition hover:cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                                class="w-6 h-6">
                                <path
                                    d="M9 3v1H4v2h1v12c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5V3H9m3 6v8h-2V9h2m4 0v8h-2V9h2z" />
                            </svg>
                        </button>
                    </div>

                    <!-- Completed Task Button -->
                    <div class="group flex flex-col">
                        <span
                            class="w-22 opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-amber-100 text-black border-2 border-amber-300 font-light px-3 py-1 rounded-md mb-2 shadow-md">
                            Status
                        </span>
                        <button (click)="toggleCompleted(task)"
                            class="w-20  py-1 text-center  text-sm rounded-md transition hover:cursor-pointer"
                            [ngClass]="task.completed ? 'bg-[#467846] text-white' : 'bg-[#be3c3c] text-white'">
                            {{ task.completed ? 'Completed' : 'Pending' }}
                        </button>
                    </div>

                </div>
            
            </div>

        </div>

    </div>


</div>