nav {
    background-color: #333;
    padding: 10px 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

.active {
    font-weight: bold;
    font-size: 1.2rem;
  }
  