

<nav>
    <div class="nav-container">
        <ul class="nav-links">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/signal" routerLinkActive="active">Signal</a></li>
            <li><a routerLink="/lifecycle" routerLinkActive="active">Lifecycle</a></li>
            <li><a routerLink="/inject" routerLinkActive="active">Inject</a></li>
            <li><a routerLink="/directive" routerLinkActive="active">Directive</a></li>
            <li><a routerLink="/pipe" routerLinkActive="active">Pipe</a></li>
        </ul>
    </div>
</nav>


<router-outlet/>