


<h1 class="bg-chunk">Hello</h1>

<div class="flex-center w-full my-2">

    <div class="card">
            <p class="text-white">Learn New Things</p>
    </div>  
    <div class="card">
        <p class="text-white">Learn New Things</p>
    </div>
    <div class="card">
        <p class="text-white">Learn New Things</p>
    </div>  
</div>

<div>
    <span class="bg-amber-200">
        hello 
        span default inline
    </span>
    <h1 class="inline-flex gap-2 bg-black  text-white"><p>Learn about group hover</p><p>Learn about group hover</p></h1>
    <div class="card hover:bg-amber-200 group">
        <p class="text-white group-hover:text-black">Learn New Things</p>
    </div>  

    <input type="text" class="caret-pink-900 border-2 border-gray-400"/>
    <textarea class="w-full border border-zinc-200 caret-pink-500 p-2"></textarea>
    <select class="border-2 ring-1">
        <option class="">Gujarat</option>
        <option>Ahmedabad</option>
        <option>Pune</option>
    </select>
    <select id="states" class="bg-gray-50 border  border-gray-300 text-gray-900 text-sm rounded-e-lg border-s-gray-100 dark:border-s-gray-700 border-s-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Choose a state</option>
        <option value="CA">California</option>
        <option value="TX">Texas</option>
        <option value="WH">Washinghton</option>
        <option value="FL">Florida</option>
        <option value="VG">Virginia</option>
        <option value="GE">Georgia</option>
        <option value="MI">Michigan</option>
    </select>
    


    
</div>


    <!-- 

    learn screen read only
    check box styles
    float 
    check this text-[min(10vw,70px)]
    open close // for not write javascripts more
    file
     -->

