

 <app-layout/>

<div class="mt-32 ">

    <div class="flex flex-col items-center gap-6">
        <div  class="text-5xl text-bold font-serif flex w-full flex-col items-center"><h2 class="mb-3">Explore the World's</h2><span>Top News Stories</span></div>
        <div class="text-xl font-serif"><p>Dive into the latest headlines, in-depth reports, and trending topics from around the globe.</p></div>

    </div>


</div>
@if(path=='/home')
{
<app-blog-post/>
}
@else
{
    <app-blog-content/>
}

    <!-- <h1>hello</h1> -->
